/Ejercicio_Humano/build/
/Ejercicio_Humano/nbproject/private/
/Ejercicios1/build/
/Ejercicios1/nbproject/private/
/EjerciciosParNegativo/build/
/EjerciciosParNegativo/nbproject/private/
/Notas/build/
/Notas/nbproject/private/
/OrdenadoMayormenor/build/
/OrdenadoMayormenor/nbproject/private/
/SolicitudUsuario/build/
/SolicitudUsuario/nbproject/private/
/Universidad/build/
/Universidad/nbproject/private/
/SolicitudUsuario/dist/
/Ejercicio9/nbproject/private/
/Ejercicio9/build/
/Ejercicio10/nbproject/private/
/Ejercicio10/build/
/Ejercicio12/nbproject/private/
/Ejercicio12/build/
/Ejercicio11/nbproject/private/
/Ejercicio11/build/
